<!DOCTYPE html>
<html>

<head>
  <title>Redis Link Shortener</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
  <div class="container">

    <h1>shortlink app</h1>

    <form method="post">
      <input type="text" value="<%= escape_html(params[:url]) %>" name="url" id="url" />
      <input type="submit" value="shorten" id="submit" />
    </form>

    <div class="clear"></div>

    <% if @shortcode %>
      <div class="result">
        Your shortened URL is:
        <a href="http://my-shortlink-app.com/<%= @shortcode %>">http://my-shortlink-app.com/<%= @shortcode %></a>
      </div>
    <% end %>

  </div>
</body>
